html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

@font-face {
    font-family: 'PT Sans';
    font-weight: normal; /*400*/
    src: url('/fonts/PTSans-Regular.woff') format('woff'),
    url('/fonts/PTSans-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-weight: bold; /*700-900*/
    src: url('/fonts/PTSans-Bold.woff') format('woff'),
    url('/fonts/PTSans-Bold.woff2') format('woff2');
    font-display: swap;
}

img {
    width: 100%;
    height: auto;
}

.logo-mobile {
    width: 102px;
    height: 83px;
}

.logo-tablet {
    width: 102px;
    height: 83px;
}

.logo-desktop {
    width: 187px;
    height: 96px;
}

.header__menu {
    background-color: burlywood;
}

.main-navigation {
    display: flex;
    flex-direction: column;

    background-color: #7cacca;

}

.main-header-logo {
    position: relative;
}

.main-header-logo  .logo-mobile {
    width: 102px;
    height: 82px;
    position: absolute;
    left: 109px;
    top: 222px;
}

.main-header-logo  .logo-tablet {
    display: none;
}

.main-header-logo  .logo-desktop {
    display: none;
}

.site-navigation__left {
    list-style: none;
    margin: 0;
    padding: 0;

    font-weight: bold;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #81b3d2;
}

.site-navigation__right  {
    list-style: none;
    margin: 0;
    padding: 0;

    font-weight: bold;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #81b3d2;
}

.site-navigation__left .site-navigation__item:first-child {
    /* background-color: #7cacca; */
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;

    border-bottom: 1px solid #6cacd4;
}

.site-navigation__left .site-navigation__item:last-child {
    /* background-color: #7cacca; */
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;

    border-top: 1px solid #92b4c9;
    border-bottom: 1px solid #6cacd4;
}

.site-navigation__right .site-navigation__item:first-child {
    /* background-color: #7cacca; */
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;

    border-top: 1px solid #92b4c9;
    border-bottom: 1px solid #6cacd4;
}

.site-navigation__right .site-navigation__item:last-child {
    /* background-color: #7cacca; */
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;

    border-top: 1px solid #92b4c9;
}


/* block intro */

.header__intro {
    margin-top: 56px;
    background-image: url(../images/back-mobile.jpg);
    background-repeat: no-repeat;
    max-width: 320px;
    min-height: 390px;
    background-position: 0 0;
    background-size: 320px 390px;
    /* background-color: green;*/
}

.header__intro {

}